<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title>Sis-disc</title>
</head>

<body>
	<!-- cabeçalho header -->
	<div th:insert="fragmentos/layout :: header-collapse-admin"></div>
	<div class="wrapper">

		<!-- sideBar -->
		<div th:insert="fragmentos/layout :: sideBar-admin"></div>

		<!-- Conteúdo  -->
		<div id="content" class="container-fluid px-1" th>
			<div class="card">
				<h4 class="card-header">Disciplinas</h4>
				
				
				<!-- menssagem sucesso -->
				<div class="alert  alert-success" th:if="${!#strings.isEmpty(mensagem)}">
					<i class="fa fa-check-circle"></i>
					<span th:text="${mensagem}">Mensagem sucesso!</span>
				</div>


				<!-- Formulário  -->
				<form th:action="@{/disciplinas/inserir}" th:object="${disciplina}" method="post">
					
				<!-- messagem erro -->								
				<div class="alert  alert-danger  alert-dismissible" role="alert"
				th:if="${#fields.hasAnyErrors()}">				
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<div th:each="erro:${#fields.detailedErrors()}">
						<i class="fa fa-exclamation-circle"></i>						
						<span th:text="${erro.message}">Mensagem erro.</span>
					</div>
				</div>
								
				
				<input type="hidden" th:field="*{id}"/>
					<div class="form-row px-1">
					
						<div class="form-group col-md-1">
							<label for="inputId" class="">Id</label><input type="text" th:field="*{id}" 
								class="form-control form-control-sm" id="inputId" placeholder="Id" disabled="disabled"/>
						</div>
						<div class="form-group col-md-3">
							<label for="inputDisciplina">Disciplina</label> <input type="text" th:field="*{nome}" required="required"
								class="form-control form-control-sm text-uppercase" maxlength="20"
								onkeyup="maiuscula(this)" id="inputDisciplina" placeholder="Disciplina"/>
						</div>
																	
						
					</div>
											
					<div class="form-row pl-1">
						<div class="form-group col-md-12">
						<button type="submit" class="btn btn-primary">Salvar</button>
						</div>
					</div>
				</form>

	<div class="table-responsive px-1">
	<table class="table table-striped table-bordered table-sm"
			id="tbl-disciplina">
			<thead>
				<tr>
					<th class="text-center">ID</th>
					<th class="text-center">DISCIPLINA</th>	
					<th class="text-center">AÇÃO</th>				
				</tr>
			</thead>
			<tbody>
			
			<tr th:each="objeto: ${listarDisciplinas}">
			
					<td th:text="${objeto.id}" />
					<td th:text="${objeto.nome}" />					
					<td class="text-center">
						<a th:href="@{/disciplinas/editar/{id}(id=${objeto.id})}"
						aria-hidden="false" title="editar"><i class="fas fa-edit"></i></a>
						
						<a th:href="@{/disciplinas/excluir/{id}(id=${objeto.id})}"  onclick="return confirm('Tem Certeza Que Deseja Excluir?');"
						aria-hidden="true" title="excluir"><i class="fas fa-trash"></i></a>
						
						</td>
					

			</tbody>
	</table>		
	</div><!-- fim div responsive -->








			</div>
			<!-- fim card -->
		</div>
		<!-- fim conteúdo -->

	</div>
	<!-- fim wraper -->


	<div th:insert="fragmentos/layout :: footer"></div>
	<script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/jquery.mask.min.js}"></script>
	<script th:src="@{/js/font.js}"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$('#sidebarCollapse').on('click', function() {
				$('#sidebar').toggleClass('active');
			});
		});
		
		function maiuscula(z) {
			v = z.value.toUpperCase();
			z.value = v;
		}
	</script>




</body>
</html>